html, body {
    background-color: rgb(248, 206, 213);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.board-container {
    margin-top: 9%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hidden{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.board{
    transform: scale(1.5);
    border-style: solid;
    border-color: rgb(16, 23, 31);
    border-radius: 10px;
    background-color: rgb(27, 39, 53);
    width: 400px;
    height: 400px;

    display: grid;
    grid-template: 
    'area area area'
    'area area area'
    'area area area';

    box-shadow: 5px 5px 8px rgb(37, 36, 36);
}

.slot{
  
    color: rgb(16, 23, 31, 1);
    text-align: center;
    font-size: 90px;
    margin: auto;
    background-color: rgb(104, 197, 182);
    grid-area: auto;
    width: 125px;
    height: 125px;
    padding: 0;
    
  }

  .slot text {
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  



#settings {
    transform: scale(2);
    height: 85%;
    display: grid;
    grid-template-areas: 
    "top1 top2"
    "bottom bottom";
}

#player1 {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 75%;
    grid-area: top1;

    display: flex;
    flex-direction: column;
}

#player2 {
    margin: auto;
    margin-bottom: 10px;
    margin-right: 75%;
    grid-area: top2;

    display: flex;
    flex-direction: column;
}

.selected {
    background-color: rgb(27, 39, 53);
    border-style: solid;
    border-color:rgb(248, 206, 213);
    color:rgb(248, 206, 213);
}

#start {
    grid-area: bottom;
    margin: auto;
    margin-top: 10px;
}